<%- include partials/header.ejs %>
  <div class="container-fluid">
    <div id="map"></div>
  </div>

  <!-- Bottom nav -->
  <nav class="navbar navbar-default navbar-fixed-bottom" id="bottom-nav">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bottom-navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="bottom-navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a>Energy</a></li>
          <li><a>Pollution</a></li>
          <li><a>Land Qaulity</a></li>
          <li><a>Air quality</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

</div><!-- /.container -->

<!-- Google Maps -->
<script src="js/maps.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHjRt9WwiLCR2JaJP8c-zxBZpbFcXjWNI&callback=callbackGmap"></script>

<%- include partials/footer.ejs %>