body {
  height: 100%;
  width: 100%;
}

.container-fluid {
    padding: 0px;
}

#map {
  width: 100%; 
  height: 100%; 
  position: absolute; 
  padding: 0px;
  z-index: -1;
}

#bottom-nav {
  margin-top: 20px;
}